@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.light-theme {
    --primary-color: linear-gradient(113deg, rgb(253, 249, 122) 24.4%, rgb(247, 163, 205) 53.7%, #8765b9);
    --secondary-color: black;
    --third-color: white;
    --botchat: #8765b9;
    --humanchat: rgb(253, 249, 122);
    --logo: url(../img/logo.svg);
    --logo-icon-mobile: url(../img/logomobile.svg);
    --theme-icon: url(../img/moon.svg);
}

.dark-theme {
    --primary-color: radial-gradient(circle 65rem at 30% -15%,
            rgba(10, 29, 85), rgba(5, 5, 5, 1));
    --secondary-color: white;
    --third-color: black;
    --botchat: rgb(5, 5, 5, 1);
    --humanchat: coral;
    --logo: url(../img/logo-dark.svg);
    --logo-icon-mobile: url(../img/logomobile-dark.svg);
    --theme-icon: url(../img/sun.svg);
}

/* Debug
div:hover {
    border: 2px solid yellow;
} */

html,
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: var(--secondary-color);
    background: var(--primary-color);
    background-attachment: fixed;
}

#toggle-dark {
    content: var(--theme-icon);
    width: 2rem;
    height: 2rem;
}

.settings {
    width: 2.4rem;
    height: 2.4rem;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    background-color: var(--third-color);
    color: var(--secondary-color);
    border-bottom: coral solid 4px;
}

.brand-title {
    margin-left: 0.5rem;
    flex-grow: 1;
    justify-content: flex-start;
    text-align: left;
}

.navbar-links {
    font-weight: bold;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: var(--secondary-color);
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: var(--third-color);
}

.logo {
    content: var(--logo);
    height: 4rem;
    width: auto;
    overflow: hidden;
    padding-top: 5px
}

/* Alert */
.alert {
    --foreground-color: #222222;
    --background-color: #eeeeee;
    display: none;
    align-items: center;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: var(--background-color);
    animation: striscia 0.7s ease forwards;
    width: 20%;
}

@keyframes striscia {
    0% {
        transform: translateX(-100%);
    }
}

.alert-icon {
    display: flex;
    align-items: center;
}

.alert-text {
    margin-left: 1rem;
}

.alert-icon .material-symbols-outlined,
.alert-text {
    color: var(--foreground-color);
    flex-grow: 1;
}

.alert-warning {
    --foreground-color: black;
    --background-color: yellow;
}

.alert-success {
    --foreground-color: white;
    --background-color: green;
}

.alert-error {
    --foreground-color: white;
    --background-color: red;
}

.close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    margin-left: 10px;
    position: relative;
    padding-right: 1rem;
}

@media screen and (max-width: 650px) {
    .logo {
        content: var(--logo-icon-mobile);
        height: 3rem;

    }

    .alert {
        width: 100%;
    }
}