.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
}

h1 {
    margin: 0;
}

.welcome-logo {
    height: 10rem;
    content: var(--logo);
}

a,
a:hover,
a:focus,
a:active {
    color: coral;
}

a:visited {
    color: blueviolet;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

footer p {
    font-weight: 600;
    margin: 15px;
}

@media screen and (max-width: 800px) {
    .welcome-logo {
        height: 7rem;
    }
}

@media screen and (max-width: 650px) {
    .welcome-logo {
        height: 5rem;
    }
}