
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  font-family: Roboto, Arial, Helvetica, sans-serif ;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(10, 10, 0);
  color: whitesmoke;
  border-top-width: 0.2rem;
  border-top-color: coral;
  border-top-style: solid ;
 
}


.grid {
  display: grid;
  height: 100%;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr 2fr;
}

.sidebar {
  background-color: midnightblue;
  padding-left: 1rem;
}

.main_content {
  display: grid;
  padding: 3% 3% 0 3%
}
div {
  padding: 1px;
}

 div:hover {
  border: 1px solid yellow;
}

.titolo {
  padding: 0;
  margin: 2px;
}


.chatbotarea {
  outline: none;
  border: black;
  resize: none;
}

.chatbotarea:disabled {
  background-color: rgb(10, 10, 0);
  color: whitesmoke;
  resize: vertical;
}

.scroller{
  height: 50rem;
}


input{
  display: none;
}
label{
  height: 6rem;
  width: 9rem;
  border-radius: 1%;
  border: 1px solid white;
}
label:hover{
  color: orangered;
  border: 1px dashed orangered;
}

  /*BREAKPOINTS*/
@media screen and (max-width: 990px){
  *{
    padding: 0;
    margin: 0;
  }
  .main_content{
    padding-left: 5%;
  }
  .grid {
  display: grid;
  height: 100%;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr 2fr;
}
}

@media screen and (max-width: 650px){
  *{
    padding: 0.5%;
    margin: 0.5%;
    text-align: center;
  }
  .scroller{ height: 0;}
  .grid {
  display: grid;
  grid-template-columns:100%;
}

  .sidebar {
  display: grid;
  background-color: rgb(10, 10, 0);
 
}
}