body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: var(--secondary-color);
    height: 100vh;
}

.grid {
    display: grid;
    height: 100%;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 2fr;
    background: var(--primary-color);

}

.sidebar {
    border-right: coral solid 2px;

}

.main_content {
    display: grid;
    padding: 3% 3% 0 3%
}

div {
    padding: 1px;
}

div:hover {
    border: 1px solid yellow;
}

.titolo {
    padding: 0;
    margin: 1%;
}

.chatbotarea {
    outline: none;
    border: black;
    resize: none;
    margin-top: 1rem;
    border-radius: 10px;
}

.chatbotarea:disabled {
    color: black;
    resize: vertical;
}

.scroller {
    height: 20rem;
}

/*Drag and drop*/
.drop_section {
    position: relative;
    display: flex;
    background-color: var(--third-color);
    max-width: 15rem;
    height: 15rem;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    margin: 5% 12% 0% 12%;
}

/*Mostra il DROP HERE durante drag and drop*/
.drop_section div.col:last-child {
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 11rem;
    height: 4rem;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.6);
    transition-duration: 0.3s;
}

/*Nasconde il testo dietro il drag and drop*/
.drag-over-effect div.drop_section_content span {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(1);
}

/*Mostra il drag and drop*/
.drag-over-effect div.col:last-child {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.drop_section_content {
    margin: 10%;
}

/*Scritta drag your files here or*/
.drop_section span,
.drop_section button {
    display: block;
    margin: auto;
    color: var(--secondary-color);
    text-align: center;
}

/*Bottone browse files*/
.drop_section button {
    color: white;
    background-color: coral;
    border: none;
    outline: none;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    margin-top: 1.2rem;
    cursor: pointer;
}

/*Upload barrette caricamento*/
.drop_section input {
    display: none;
}

/*Bottone process*/
#process input[type="submit"] {
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: coral;
    margin: 5% 36%;

}

#file_list {
    align-content: center;
    padding-left: 60px;
}

#file_list li {
    list-style-image: url(/static/img/pdf.svg);
    font-size: 20px;
}

::marker {
    list-style-image: url(/static/img/pdf.svg);
    font-size: 5rem;
}

/*ChatbotArea*/
#QeA {
    display: none;
}

#QeA p {
    border-radius: 10px;
    padding: 1rem;
    font-size: 18px;
}

#QeA p:nth-child(2n+1) {
    background-color: var(--humanchat);
    text-align: right;
    color: black;
}

#QeA p:nth-child(2n) {
    background-color: var(--botchat);
    color: white;
}


@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

#question input {
    width: 97.5%;
    border-radius: 10px;
    border-style: none;
    font-size: 18px;
    padding: 1rem;
}

#question input:hover {
    outline: none;
}

#question input:focus {
    outline: none;
}

/*Breakpoints*/
@media screen and (max-width: 990px) {
    * {
        padding: 0;
        margin: 0;
    }

    .main_content {
        padding-left: 5%;
    }

    .grid {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 1fr 2fr;
    }

    .scroller {
        height: 20rem;
    }
}

@media screen and (max-width: 650px) {
    * {
        color: white;
        padding: 0.5%;
        margin: 0.5%;
        text-align: center;
    }

    .scroller {
        height: 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 100%;
    }

}