
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  font-family: Roboto, Arial, Helvetica, sans-serif ;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(10, 10, 0);
  color: whitesmoke;
  border-top-width: 0.2rem;
  border-top-color: coral;
  border-top-style: solid ;
 
}


.grid {
  display: grid;
  height: 100%;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr 2fr;
}

.sidebar {
    background-color: midnightblue;
    padding-left: 1rem;

}

.main_content {
  display: grid;
  padding: 3% 3% 0 3%
}
div {
  padding: 1px;
}

 div:hover {
  border: 1px solid yellow;
}

.titolo {
  padding: 0;
  margin: 2px;
}


.chatbotarea {
  outline: none;
  border: black;
  resize: none;
}

.chatbotarea:disabled {
  background-color: rgb(10, 10, 0);
  color: whitesmoke;
  resize: vertical;
}

.scroller{
  height: 50rem;
}


input{
  display: none;
}
label{
  height: 6rem;
  width: 9rem;
  border-radius: 1%;
  border: 1px solid white;
}
label:hover{
  color: orangered;
  border: 1px dashed orangered;
}



.drop_zone {
    background-color:rgb(10,10,0);
    align-content: center;
	max-width: 15rem;
	height: 15rem;
	display: flex;
	align-items: center;
	text-align: center;
	font-family: sans-serif;
	font-weight: 500;
	font-size: 1.5rem;
	cursor: pointer;
	border: 2px solid coral;
	border-radius: 10px;
}
 /*Drag and drop*/
.drop-zone--over {
	border-style: solid;
}

.drop_zone_input {
	display: none;
}

.drop-zone__thumb {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	background-color: #cccccc;
	background-size: cover;
	position: relative;
}

.drop-zone__thumb::after {
	content: attr(data-label);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 0;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.75);
	font-size: 14px;
	text-align: center;
}


  /*BREAKPOINTS*/
@media screen and (max-width: 990px){
  *{
    padding: 0;
    margin: 0;
  }
  .main_content{
    padding-left: 5%;
  }
  .grid {
  display: grid;
  height: 100%;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr 2fr;
}
}

@media screen and (max-width: 650px){
  *{
    padding: 0.5%;
    margin: 0.5%;
    text-align: center;
  }
  .scroller{ height: 0;}
  .grid {
  display: grid;
  grid-template-columns:100%;
}

  .sidebar {
  display: grid;
  background-color: rgb(10, 10, 0);
 
}
}