{% extends 'DjangoPDF/base.html' %}
{% block content %}
<h1>Box di testo inferiore</h1>
  <div class="container">
    <div class="textbox">
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Your question">
        <button class="btn btn-info" type="submit">Ask</button>
      </form>
    </div>
    <div class="textbox">
      <h2>Box di testo inferiore</h2>
      <p>Questo è il contenuto del box di testo inferiore.</p>
    </div>
  </div>
{%endblock %}
