<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>

<body>
    <form id="upload">
        <input type="file" name="file" multiple>
        <input type="submit" value="Upload">
    </form>
    <br>
    <form id="question">
        <label for="question">Question</label>
        <input type="text" name="question">
    </form>
    <p id="response">Risposta</p>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            // document.getElementById('question').addEventListener('submit', QeA);
            document.getElementById('upload').addEventListener('submit', upload);
        });
    </script>
</body>

</html>