<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>

<body>
    <div>
        <input type="file" id="file" multiple>
        <input type="button" id="upload" value="Upload">
    </div>
    <br>
    <div>
        <input type="text" id="question">
        <br>
        <p id="response">Risposta</p>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('question').addEventListener('keypress', QeA);
            document.getElementById('upload').addEventListener('click', upload);
        });
    </script>
</body>

</html>