<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_base.css')  }}">
    {% block style %}{% endblock %}
</head>

<body>
    <nav class="navbar">
        <div class="brand-title">
            <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
        </div>
        {% if g.user %}
        <div class="navbar-links">
            <ul>
                <li><a>{{ g.user[1] }}</a></li>
                <span class="bar"></span>
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
            </ul>
        </div>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
</body>

</html>