<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_light.css')  }}">

</head>

<body>
    <nav class="navbar">
        <div class="brand-title">
            <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
        </div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>

        </a>
        <div class="navbar-links">
            <ul>
                <li><a>Utente</a></li>
                <span class="bar"></span>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='js/drag_and_drop.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toggle_dark.js') }}"></script>
    <script src="{{ url_for('static', filename='js/textarea.js') }}"></script>

</body>

</html>