<!DOCTYPE html>
<html lang="es">

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <meta name="title" content="NapolitanoGPT , Sistema de Inteligencia Artificial Domodesk">
    <meta name="description"
        content="Habla con tu PDF. Sistema de inteligencia Artificial generativo para documentos pdf privados, sube tus propios documentos y has preguntas sobre ellos.">
    <meta name="keywords"
        content="napoiltanogpt, domodesk, italia, españa, inteligencia, artificial, IA, AI, LLM, generativo, PDF, local, empresas, negocios, agencia, consultores, ingeniería, I+D, Valencia">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="revisit-after" content="90 dias">
    <meta name="author" content="Filippo Bellei, Manuel Campi, Manuel Gálvez (Domodesk)">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    {% block style %}{% endblock %}
</head>

<body class="light-theme">
    <nav class="navbar">
        <div class="brand-title">
            <a href="{{ url_for('index_views.home') }}" class="alternative-logo">
                <a href="{{ url_for('index_views.home') }}"><img class="logo" id="NapolitanoGPT-logo"
                        src="{{ url_for('static', filename='img/logo.png') }}" alt="NapolitanoGPT"></a>
        </div>
        <div>
            <img id="toggle-dark" class="sunicon" src="{{ url_for('static', filename='img/moon.svg') }}"
                alt="toggle dark mode">
        </div>
        {% if current_user.isAdmin %}
        <a href="{{ url_for('settings_views.settings') }}"><img class="settings"
                src="{{ url_for('static', filename='img/settings.svg') }}" alt="settings"></a>
        {% endif %}

        <div class="navbar-links">
            <ul>
                {% if current_user.is_authenticated %}
                <li><a>{{ current_user.username }}</a></li>
                <span></span>
                <li><a href="{{ url_for('auth_views.logout') }}">Logout</a>
                    <span></span>

                    {% else %}
                <li><a class=login href="{{ url_for('auth_views.login') }}">Login</a>
                    {% endif %}
            </ul>
        </div>
    </nav>
    <div class="alert">
        <div class="alert-icon">
            <img alt="alert" src="{{ url_for('static', filename='img/info.svg') }}">
        </div>
        <div class="alert-text"></div>
        <button class="close-btn">&times;</button>
    </div>
    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/alert.js') }}"></script>

</body>

</html>