{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}
{% block content %}

<div class="flex-container">
    <div class="sidebar">
        <div class="drop-process">
            <div class="drop-section">
                <div class=drop-section-content>
                    <img src="{{ url_for('static', filename='img/cloud.svg') }}" id="upload-icon">
                    <span>Drag your files here</span>
                    <span>or</span>
                    <button class="file-selector">Browse Files</button>
                    <input type="file" class="file-selector-input" multiple>
                </div>
                <div class="col">
                    <div class="drop-here">Drop Here</div>
                </div>
            </div>
            <div id="process">
                <progress value="0" max="100" id="progress-bar"></progress>
            </div>
        </div>

        <div class="sidebar" id="pdf sidebar">
            <ul id="file-list"></ul>
        </div>
    </div>
    <div class="main-content">
        <h1 class="titolo">Start a conversation with your PDFs</h1>
        <h4 class="titolo">Ask me a question about your documents</h4>
        <div id="QeA"></div>
        <form id="question">
            <input type="text" name="question">
        </form>
    </div>
</div>

<script src="{{ url_for('static', filename='js/filelist.js') }}"></script>
<script src="{{ url_for('static', filename='js/draganddrop.js') }}"></script>
<script src="{{ url_for('static', filename='js/delete.js') }}"></script>
<script src="{{ url_for('static', filename='js/qea.js') }}"></script>

{%endblock %}