{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <h1>WELCOME TO</h1>
    <img class="welcome-logo" alt="NapolitanoGPT" src="{{ url_for('static', filename='img/logo.png') }}">
    <h2>Start <a href="{{ url_for('chat_views.chat') }}">HERE</a> your PDF chat</h2>
</div>
<footer>
    <p><em>NapolitanoGPT is a project made by <a href="https://www.linkedin.com/in/filippobellei/"
                target="_blank">Filippo</a> and <a href="https://www.linkedin.com/in/manuel-campi-934664278/"
                target="_blank">Manuel</a>
            with the guidance and
            collaboration of <a href="https://www.domodesk.com/" target="_blank">DomoDesk S.L</a>, please contact us for
            more info.
    </p>
    <p>Tel +34 96 357 48 62 E-mail service@domodesk.com </em></p>
</footer>
{% endblock %}