{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %}

<div class="grid container">
  <!-- sidebar -->
  <div class="sidebar">
      <h3>Your documents</h3>
      <div class="drop_zone">
		<span class="drop_zone_prompt">Drop file here or click to upload</span>
		<input type="file" name="file" class="drop_zone_input">
	</div>

      <h5>>Click "process"</h5>

      <ul>
        <li>Placeholder</li>
      </ul>
  </div>

  <!-- Main content -->
  <div class="main_content">
    <h1 class="titolo">Chat with your PDFs</h1>
    <h5 class="titolo">Ask me a question about your documents</h5>
    <textarea class="form-control chatbotarea"></textarea>
    <textarea class="form-control chatbotarea" disabled></textarea>
  </div>


  <div class="sidebar">
    <div class= "scroller"></div>
  </div>

</div>
<script>
  const textarea = document.getElementById('myTextarea');

  textarea.addEventListener('input', function() {
    this.style.height = 'auto'; // Ripristina l'altezza predefinita
    this.style.height = this.scrollHeight + 'px'; // Imposta l'altezza in base al contenuto
  });
</script>


{%endblock %}