{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_index.css')  }}">
{% endblock %}
{% block content %}

<div class="grid">
    <div class="sidebar">
        <div class="drop_section ">
            <div class=drop_section_content>
                <img src="{{ url_for('static', filename='img/cloud.png') }}" alt="cloud">
                <span>Drag your files here</span>
                <span>or</span>
                <button class="file-selector">Browse Files</button>
                <input type="file" class="file-selector-input" multiple>
            </div>
            <div class="col">
                <div class="drop-here">Drop Here</div>
            </div>
        </div>
        <form id="process">
            <input type="submit" value="Process">
        </form>
    </div>

    <!-- Main content -->
    <div class="main_content">
        <h1 class="titolo">Chat with your PDFs
            <img id="toggle_dark" class="sunicon" src="{{ url_for('static', filename='img/sun.png') }}" alt="sun">
        </h1>
        <h4 class="titolo">Ask me a question about your documents</h4>
        <div id="QeA"></div>
        <form id="question">
            <input type="text" name="question">
        </form>
    </div>

    <div class="sidebar">
        <ul id="file_list">
            {% if not files %}
            <li>Nothing</li>
            {% endif %}
            {% for file in files %}
            <li>{{ file }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<script src="{{ url_for('static', filename='js/dragAndDrop.js') }}"></script>
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
<script src="{{ url_for('static', filename='js/process.js') }}"></script>
<script src="{{ url_for('static', filename='js/QeA.js') }}"></script>

{%endblock %}