{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_login_register.css')}}">
{% endblock %}
{% block content %}
<div class="mask">
    <div class="wrapper">
        <form id="register">
            <h1>Register</h1>
            <div class="input_box">
                <input type="text" name="username" class="form-control" placeholder="Username" required />
            </div>
            <div class="input_box">
                <input type="password" name="password" class="form-control" placeholder="Password" required />
            </div>
            <div>
                <p>Already a member? <a href="login">Login</a></p>
            </div>
            <button type="submit" class="btn">Sign up</button>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}