{% extends 'base.html' %}
{% block title %}Settings{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <h1>Settings</h1>
    <form method="post" id="settings">
        <h3>Change your API key</h3>
        <div class="setting">
            <input type="text" name="APIKey" value="{{ APIKey }}" required>
            <button type="submit">Update settings</button>
        </div>
    </form>
    <h3>Temporary User</h3>
    <span></span>
    <h3>Temporary Password</h3>

</div>
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}