{% extends 'base.html' %}
{% block title %}Settings{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_settings.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_login_register.css')}}">

{% endblock %}
{% block content %}
<div class="container">
    <h1>Settings</h1>
    <form method="post" id="setting">
        <h3>Change your API key</h3>
        <div class="setting">
            <input type="text" name="APIKey" placeholder="OpenAI API Key" required>
            <button type="submit">Update settings</button>
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}