{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_settings.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_welcome.css')}}">

{% endblock %}
{% block content %}
<div class="container">
    <h1>WELCOME TO</h1>
    <div class="welcome_div">
        <img class="welcome_logo" src="{{ url_for('static', filename='img/logo.png') }}">
    </div>
    <div>
        <h2>Start <a href="{{ url_for('index.home') }}">HERE</a> your PDF chat</h2>
    </div>
    <footer>
        <p><em>NapolitanoGPT is a project made by two students from the <a href="https://www.fitstic.it/"
                target="_blank">FITSTIC
                Foundation</a> with the
            collaboration with <a href="https://www.domodesk.com/" target="_blank">DomoDesk S.L</a>, please contact us
            for
            more info.
        </p>
        <p>Tel+34 96 357 48 62 E-mail service@domodesk.com </em></p>

    </footer>
</div>
{% endblock %}